<div class="header-content-left">

    <!-- Start::header-element -->
    <div class="header-element">
        <div class="horizontal-logo">
            <a href="index.html" class="header-logo">
                <img src="../assets/images/brand-logos/desktop-logo.png" alt="logo"
                     class="desktop-logo">
                <img src="../assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
                <img src="../assets/images/brand-logos/desktop-white.png" alt="logo"
                     class="desktop-dark">
                <img src="../assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
                <img src="../assets/images/brand-logos/desktop-white.png" alt="logo"
                     class="desktop-white">
                <img src="../assets/images/brand-logos/toggle-white.png" alt="logo"
                     class="toggle-white">
            </a>
        </div>
    </div>
    <!-- End::header-element -->
    <!-- Start::header-element -->
    <div class="header-element ">
        <!-- Start::header-link -->
        <a aria-label="Hide Sidebar"
           class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle mx-0"
           data-bs-toggle="sidebar" href="javascript:void(0);"><span></span></a>
        <!-- End::header-link -->
    </div>
    <!-- End::header-element -->
    @* <!-- Start::header-element -->
    <div class="header-element header-search">
    <!-- Start::header-link -->
    <div class="main-header-search ms-3 d-none d-lg-block my-auto">
    <input class="form-control" placeholder="Search..." type="search">
    <button class="btn"><i class="fe fe-search"></i></button>
    </div>
    <!-- End::header-link -->
    </div>
    <!-- End::header-element --> *@
    <!-- Start::header-element -->
    @* <div class="header-element dropdown-element"> *@
    <div class="header-element">
        <!-- Start::header-link -->
        <div class="dropdown my-auto mx-2">
            <button class="btn btn-outline-light dropdown-toggle fs-14 show" type="button"
                    data-bs-toggle="dropdown" aria-expanded="true">
                <i class="fe fe-grid me-2 align-middle"></i> UI Kit <i class="ri-arrow-down-s-line  align-bottom"></i>
            </button>
            <div class="mega-dropdown nav-item">
                <ul class="dropdown-menu mega-dropdown-menu container row">
                    <li>
                        <div class="d-flex align-items-center">
                            <div class="divOne">
                                <div class="position-relative">
                                    <div class="arrow-ribbon">Upcoming events</div>
                                    <img class="rounded-1 megamenu-img" alt="img"
                                         src="../assets/images/media/23.jpg">
                                    <div class="btn-absolute">
                                        <a class="btn btn-sm rounded-5 btn-primary"
                                           href="javascript:void(0);">
                                            More Info<i class="bi bi-arrow-right ms-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-4">
                                <div class="d-flex justify-content-between">
                                    <div class="divTwo">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="legend bg-primary m-0 me-1 br-7"></span>
                                            <h6 class="mb-0 fs-14">Pages</h6>
                                        </div>
                                        <a class="dropdown-item px-0 fs-12" href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10 angle"></i>
                                            Documentation
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Multi Pages
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Edit
                                            Profile
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Mail
                                            Settings
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Default Settings
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            More
                                            Settings
                                        </a>
                                    </div>
                                    <div class="divThree">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="legend bg-secondary m-0 me-1 br-7"></span>
                                            <h6 class="mb-0  fs-14">Engagement</h6>
                                        </div>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Searcher
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Companies
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Lists
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Saved Searches
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Enrichment
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Settings
                                        </a>
                                    </div>
                                    <div class="divFour">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="legend bg-success m-0 me-1 br-7"></span>
                                            <h6 class="mb-0 fs-14">Resources</h6>
                                        </div>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Blog
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Customer Stories
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Video Tutorials
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Documentation
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Legal
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            More
                                        </a>
                                    </div>
                                    <div class="divFive">
                                        <div class="d-flex align-items-center mb-2">
                                            <span class="legend bg-danger m-0 me-1 br-7"></span>
                                            <h6 class="mb-0 fs-14">Company</h6>
                                        </div>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Press
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Careers
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Pages
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Comunity
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            Work
                                            Culture
                                        </a>
                                        <a class="dropdown-item px-0 fs-12"
                                           href="javascript:void(0);">
                                            <i class="bi bi-chevron-right text-muted me-1 fs-10"></i>
                                            About Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End::header-link -->
    </div>
    <!-- End::header-element -->
    <!-- Start::header-element -->
    @* <div class="header-element  dropdown-element"> *@
    <div class="header-element">
        <!-- Start::header-link -->
        <div class="dropdown my-auto">
            <button class="btn btn-outline-light dropdown-toggle fs-14" type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Settings <i class="ri-arrow-down-s-line  mg-l-3 align-bottom"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="">
                <li><a class="dropdown-item"  asp-action="Index" asp-controller="PRODLine">Production Line</a></li>
                <li><a class="dropdown-item" href="javascript:void(0);">Location</a></li>
            </ul>
        </div>
        <!-- End::header-link -->
    </div>
    <!-- End::header-element -->
</div>