<div class="header-content-right">
    @* <div class="header-element header-search  d-lg-none d-block">
        <!-- Start::header-link -->
        <a href="javascript:void(0);" class="header-link search-icon" id="searchButton">
            <i class="bx bx-search-alt-2 header-link-icon"></i>
        </a>
        <!-- End::header-link -->
        <li class="nav-link ">
            <form class="navbar-form" role="search" id="myNavbarForm">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="reset" class="btn btn-default close-btn text-muted">
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </form>
        </li>
    </div> *@

    <div class="header-element header-theme-mode">
        <a href="javascript:void(0);" class="header-link layout-setting">
            <span class="light-layout">
                <i class="bx bx-moon  fe-moon header-link-icon"></i>
            </span>
            <span class="dark-layout">
                <i class="bx bx-sun header-link-icon"></i>
            </span>
        </a>
    </div>
    <div class="header-element header-fullscreen">
        <a onclick="openFullscreen();" href="javascript:void(0);" class="header-link">
            <i class="bx bx-fullscreen full-screen-open header-link-icon"></i>
            <i class="bx bx-exit-fullscreen full-screen-close header-link-icon d-none"></i>
        </a>
    </div>
    <div class="header-element profile-1">
        <partial name="_profileUser"></partial>
    </div>
    <div class="header-element">
        <a href="javascript:void(0);" class="header-link me-0" data-bs-toggle="offcanvas"
           data-bs-target="#switcher-canvas">
            <i class="bx bx-cog header-link-icon"></i>
        </a>
    </div>

</div>