<ul class="main-menu fs-18">
    <!-- Start::slide__category -->
    <li class="slide__category"><span class="category-name">Main</span></li>
    <!-- End::slide__category -->
    <!-- Start::slide -->
    <li class="slide has-sub">
        <a href="javascript:void(0);" class="side-menu__item">
            <i class="bx bx-desktop side-menu__icon"></i>
            <span class="side-menu__label">Dashboard</span>
            <i class="fe fe-chevron-down side-menu__angle"></i>
        </a>
        <ul class="slide-menu child1">
            <li class="slide side-menu__label1">
                <a href="javascript:void(0)">Dashboard</a>
            </li>
            <li class="slide">
                <a href="index6.html" class="side-menu__item">Dashboard-6</a>
            </li>
            <li class="slide">
                <a href="index.html" class="side-menu__item">Dashboard-1</a>
            </li>
            <li class="slide">
                <a href="index2.html" class="side-menu__item">Dashboard-2</a>
            </li>
            <li class="slide">
                <a href="index3.html" class="side-menu__item">Dashboard-3</a>
            </li>
            <li class="slide">
                <a href="index4.html" class="side-menu__item">Dashboard-4</a>
            </li>
            <li class="slide">
                <a href="index5.html" class="side-menu__item">Dashboard-5</a>
            </li>
        </ul>
    </li>
    <!-- End::slide -->
    <!-- Start::slide__category -->
    <li class="slide__category"><span class="category-name">ERP</span></li>
    <!-- End::slide__category -->
    <!-- Start::slide -->
    <li class="slide has-sub">
        <a href="javascript:void(0);" class="side-menu__item">
            <i class="bx bx-hourglass side-menu__icon"></i>
            <span class="side-menu__label">HR</span>
            <i class="fe fe-chevron-down side-menu__angle"></i>
        </a>
        <ul class="slide-menu child1">
            <li class="slide side-menu__label1">
                <a href="javascript:void(0)">HR</a>
            </li>
            <li class="slide">
                <a href="accordions.html" class="side-menu__item">Accordions</a>
            </li>
            <li class="slide">
                <a href="collpase.html" class="side-menu__item">Collapse</a>
            </li>
            <li class="slide">
                <a href="carousel.html" class="side-menu__item">Carousel</a>
            </li>
            <li class="slide">
                <a href="crypto-currencies.html" class="side-menu__item">Crypto-currencies</a>
            </li>
            <li class="slide">
                <a href="modals_closes.html" class="side-menu__item">Modals & Closes</a>
            </li>
            <li class="slide">
                <a href="navbar.html" class="side-menu__item">Navbar</a>
            </li>
            <li class="slide">
                <a href="offcanvas.html" class="side-menu__item">Offcanvas</a>
            </li>
            <li class="slide">
                <a href="placeholders.html" class="side-menu__item">Placeholders</a>
            </li>
            <li class="slide">
                <a href="ratings.html" class="side-menu__item">Ratings</a>
            </li>
            <li class="slide">
                <a href="scrollspy.html" class="side-menu__item">Scrollspy</a>
            </li>
            <li class="slide">
                <a href="search.html" class="side-menu__item">Search</a>
            </li>
            <li class="slide">
                <a href="swiperjs.html" class="side-menu__item">Swiper JS</a>
            </li>
            <li class="slide">
                <a href="users-list.html" class="side-menu__item">User List</a>
            </li>
        </ul>
    </li>
    <!-- End::slide -->
    <!-- Start::slide -->
    <li class="slide has-sub">
        <a href="javascript:void(0);" class="side-menu__item">
            <i class="bx bx-doughnut-chart side-menu__icon"></i>
            <span class="side-menu__label">Production</span>
            <i class="fe fe-chevron-down side-menu__angle"></i>
        </a>
        <ul class="slide-menu child1">
            <li class="slide side-menu__label1">
                <a href="javascript:void(0)">Production</a>
            </li>
            <li class="slide">
                <a href="full-calendar.html" class="side-menu__item">Full Calendar</a>
            </li>
            <li class="slide">
                <a href="gallery.html" class="side-menu__item">Gallery</a>
            </li>
            <li class="slide">
                <a href="sweet_alerts.html" class="side-menu__item">Sweet Alerts</a>
            </li>
            <li class="slide">
                <a href="timeline.html" class="side-menu__item">Timeline</a>
            </li>
            <li class="slide">
                <a href="draggable-cards.html" class="side-menu__item">Draggable-cards</a>
            </li>
            <li class="slide">
                <a href="tree-view.html" class="side-menu__item">Tree-view</a>
            </li>
        </ul>
    </li>
    <!-- End::slide -->
    <!-- Start::slide -->
    <li class="slide has-sub">
        <a href="javascript:void(0);" class="side-menu__item">
            <i class="bx bx-server side-menu__icon"></i>
            <span class="side-menu__label">WH</span>
            <i class="fe fe-chevron-down side-menu__angle"></i>
        </a>
        <ul class="slide-menu child1 mega-menu">
            <li class="slide side-menu__label1">
                <a href="javascript:void(0)">WH</a>
            </li>
            <li class="slide">
                <a href="alerts.html" class="side-menu__item">Alerts</a>
            </li>
            <li class="slide">
                <a href="avatars.html" class="side-menu__item">Avatars</a>
            </li>
            <li class="slide">
                <a href="badge.html" class="side-menu__item">Badge</a>
            </li>
            <li class="slide">
                <a href="breadcrumb.html" class="side-menu__item">Breadcrumb</a>
            </li>
            <li class="slide">
                <a href="buttons.html" class="side-menu__item">Buttons</a>
            </li>
            <li class="slide">
                <a href="buttongroup.html" class="side-menu__item">Button Group</a>
            </li>
            <li class="slide">
                <a href="cards.html" class="side-menu__item">Cards</a>
            </li>
            <li class="slide">
                <a href="dropdowns.html" class="side-menu__item">Dropdowns</a>
            </li>
            <li class="slide">
                <a href="images_figures.html" class="side-menu__item">Images & Figures</a>
            </li>
            <li class="slide">
                <a href="listgroup.html" class="side-menu__item">List Group</a>
            </li>
            <li class="slide">
                <a href="navs_tabs.html" class="side-menu__item">Navs & Tabs</a>
            </li>
            <li class="slide">
                <a href="object-fit.html" class="side-menu__item">Object Fit</a>
            </li>
            <li class="slide">
                <a href="pagination.html" class="side-menu__item">Pagination</a>
            </li>
            <li class="slide">
                <a href="popovers.html" class="side-menu__item">Popovers</a>
            </li>
            <li class="slide">
                <a href="progress.html" class="side-menu__item">Progress</a>
            </li>
            <li class="slide">
                <a href="spinners.html" class="side-menu__item">Spinners</a>
            </li>
            <li class="slide">
                <a href="toasts.html" class="side-menu__item">Toasts</a>
            </li>
            <li class="slide">
                <a href="tags.html" class="side-menu__item">Tags</a>
            </li>
            <li class="slide">
                <a href="tooltips.html" class="side-menu__item">Tooltips</a>
            </li>
            <li class="slide">
                <a href="typography.html" class="side-menu__item">Typography</a>
            </li>
        </ul>
    </li>
    <!-- End::slide -->
    <!-- Start::slide__category -->
    <li class="slide__category"><span class="category-name">Web App</span></li>
    <!-- End::slide__category -->
    <!-- Start::slide -->
    <li class="slide has-sub">
        <a href="javascript:void(0);" class="side-menu__item">
            <i class="bx bx-file side-menu__icon"></i>
            <span class="side-menu__label">Scanner</span>
            <i class="fe fe-chevron-down side-menu__angle"></i>
        </a>
        <ul class="slide-menu child1">
            <li class="slide side-menu__label1">
                <a href="javascript:void(0)">Scanner</a>
            </li>
            <li class="slide">
                <a href="profile.html" class="side-menu__item"> Profile</a>
            </li>
            <li class="slide">
                <a href="editprofile.html" class="side-menu__item"> Edit Profile</a>
            </li>
            <li class="slide">
                <a href="faq.html" class="side-menu__item"> FAQS</a>
            </li>
            <li class="slide">
                <a href="contacts.html" class="side-menu__item">Contacts</a>
            </li>
            <li class="slide">
                <a href="notifications.html" class="side-menu__item">Notifications</a>
            </li>
            <li class="slide">
                <a href="widget-notification.html" class="side-menu__item">Widget-Notification</a>
            </li>
            <li class="slide">
                <a href="settings.html" class="side-menu__item">Settings</a>
            </li>
            <li class="slide">
                <a href="todotask.html" class="side-menu__item">Todotask</a>
            </li>
            <li class="slide">
                <a href="terms.html" class="side-menu__item"> Terms</a>
            </li>
            <li class="slide">
                <a href="invoice.html" class="side-menu__item"> Invoice</a>
            </li>
            <li class="slide">
                <a href="pricing.html" class="side-menu__item"> Pricing</a>
            </li>
            <li class="slide">
                <a href="empty.html" class="side-menu__item"> Empty Page</a>
            </li>
            <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item">
                    Mail
                    <i class="fe fe-chevron-down side-menu__angle"></i>
                </a>
                <ul class="slide-menu child2">
                    <li class="slide">
                        <a href="email.html" class="side-menu__item">Mail-Inbox</a>
                    </li>
                    <li class="slide">
                        <a href="mail-compose.html" class="side-menu__item">Mail-Compose</a>
                    </li>
                    <li class="slide">
                        <a href="mail-read.html" class="side-menu__item">Read-Mail</a>
                    </li>
                    <li class="slide">
                        <a href="mail-settings.html" class="side-menu__item">Mail-Settings</a>
                    </li>
                    <li class="slide">
                        <a href="chat.html" class="side-menu__item">Chat</a>
                    </li>
                </ul>
            </li>
            <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item">
                    Blog
                    <i class="fe fe-chevron-down side-menu__angle"></i>
                </a>
                <ul class="slide-menu child2">
                    <li class="slide">
                        <a href="blog.html" class="side-menu__item">Blog</a>
                    </li>
                    <li class="slide">
                        <a href="blog-details.html" class="side-menu__item">Blog Details</a>
                    </li>
                    <li class="slide">
                        <a href="blog-post.html" class="side-menu__item">Blog Post</a>
                    </li>
                </ul>
            </li>
            <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item">
                    E-Commerce
                    <i class="fe fe-chevron-down side-menu__angle"></i>
                </a>
                <ul class="slide-menu child2">
                    <li class="slide">
                        <a href="shop.html" class="side-menu__item">Shop</a>
                    </li>
                    <li class="slide">
                        <a href="shop-details.html" class="side-menu__item">Shopping Details</a>
                    </li>
                    <li class="slide">
                        <a href="cart.html" class="side-menu__item">Shopping Cart</a>
                    </li>
                    <li class="slide">
                        <a href="wishlist.html" class="side-menu__item">Wishlist</a>
                    </li>
                    <li class="slide">
                        <a href="checkout.html" class="side-menu__item">Checkout</a>
                    </li>
                </ul>
            </li>
            <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item">
                    File Manager
                    <i class="fe fe-chevron-down side-menu__angle"></i>
                </a>
                <ul class="slide-menu child2">
                    <li class="slide">
                        <a href="file-manager.html" class="side-menu__item">File Manager</a>
                    </li>
                    <li class="slide">
                        <a href="filemanager-list.html" class="side-menu__item">
                            File Manager
                            List
                        </a>
                    </li>
                    <li class="slide">
                        <a href="filemanager-details.html" class="side-menu__item">File Details</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <!-- End::slide -->
    <!-- Start::slide -->
    <li class="slide">
        <a href="icons.html" class="side-menu__item">
            <i class="bx bx-shape-square side-menu__icon"></i>
            <span class="side-menu__label">Scan QC</span>
        </a>
    </li>
    <!-- End::slide -->
    <!-- Start::slide -->
    <li class="slide has-sub">
        <a href="javascript:void(0);" class="side-menu__item">
            <i class="bx bx-line-chart side-menu__icon"></i>
            <span class="side-menu__label">Scan Material</span>
            <i class="fe fe-chevron-down side-menu__angle"></i>
        </a>
        <ul class="slide-menu child1">
            <li class="slide side-menu__label1">
                <a href="javascript:void(0)">Scan Material</a>
            </li>
            <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item">
                    Apex Charts
                    <i class="fe fe-chevron-down side-menu__angle"></i>
                </a>
                <ul class="slide-menu child2">
                    <li class="slide">
                        <a href="apex-line-charts.html" class="side-menu__item">Line Charts</a>
                    </li>
                    <li class="slide">
                        <a href="apex-area-charts.html" class="side-menu__item">Area Charts</a>
                    </li>
                    <li class="slide">
                        <a href="apex-column-charts.html" class="side-menu__item">Column Charts</a>
                    </li>
                    <li class="slide">
                        <a href="apex-bar-charts.html" class="side-menu__item">Bar Charts</a>
                    </li>
                    <li class="slide">
                        <a href="apex-mixed-charts.html" class="side-menu__item">Mixed Charts</a>
                    </li>
                    <li class="slide">
                        <a href="apex-rangearea-charts.html" class="side-menu__item">
                            Range Area
                            Charts
                        </a>
                    </li>
                    <li class="slide">
                        <a href="apex-timeline-charts.html" class="side-menu__item">
                            Timeline
                            Charts
                        </a>
                    </li>
                    <li class="slide">
                        <a href="apex-candlestick-charts.html" class="side-menu__item">
                            CandleStick
                            Charts
                        </a>
                    </li>
                    <li class="slide">
                        <a href="apex-boxplot-charts.html" class="side-menu__item">
                            Boxplot
                            Charts
                        </a>
                    </li>
                    <li class="slide">
                        <a href="apex-bubble-charts.html" class="side-menu__item">Bubble Charts</a>
                    </li>
                    <li class="slide">
                        <a href="apex-scatter-charts.html" class="side-menu__item">
                            Scatter
                            Charts
                        </a>
                    </li>
                    <li class="slide">
                        <a href="apex-heatmap-charts.html" class="side-menu__item">
                            Heatmap
                            Charts
                        </a>
                    </li>
                    <li class="slide">
                        <a href="apex-treemap-charts.html" class="side-menu__item">
                            Treemap
                            Charts
                        </a>
                    </li>
                    <li class="slide">
                        <a href="apex-pie-charts.html" class="side-menu__item">Pie Charts</a>
                    </li>
                    <li class="slide">
                        <a href="apex-radialbar-charts.html" class="side-menu__item">
                            Radialbar
                            Charts
                        </a>
                    </li>
                    <li class="slide">
                        <a href="apex-radar-charts.html" class="side-menu__item">Radar Charts</a>
                    </li>
                    <li class="slide">
                        <a href="apex-polararea-charts.html" class="side-menu__item">
                            Polararea
                            Charts
                        </a>
                    </li>
                </ul>
            </li>
            <li class="slide">
                <a href="chartjs-charts.html" class="side-menu__item">Chartjs Charts</a>
            </li>
            <li class="slide">
                <a href="echarts.html" class="side-menu__item">Echart Charts</a>
            </li>
        </ul>
    </li>
    <!-- End::slide -->
    <!-- Start::slide__category -->
    <li class="slide__category"><span class="category-name">MIS</span></li>
    <!-- End::slide__category -->
    <!-- Start::slide -->
    <li class="slide has-sub">
        <a href="javascript:void(0);" class="side-menu__item">
            <i class="bx bx-list-ol side-menu__icon"></i>
            <span class="side-menu__label">User</span>
            <i class="fe fe-chevron-down side-menu__angle"></i>
        </a>
        <ul class="slide-menu child1">
            <li class="slide side-menu__label1">
                <a href="javascript:void(0)">User</a>
            </li>
            <li class="slide">
                <a href="javascript:void(0);" class="side-menu__item">Level-1</a>
            </li>
            <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item">
                    Level-2
                    <i class="fe fe-chevron-down side-menu__angle"></i>
                </a>
                <ul class="slide-menu child2">
                    <li class="slide">
                        <a href="javascript:void(0);" class="side-menu__item">Level-2-1</a>
                    </li>
                    <li class="slide has-sub">
                        <a href="javascript:void(0);" class="side-menu__item">
                            Level-2-2
                            <i class="fe fe-chevron-down side-menu__angle"></i>
                        </a>
                        <ul class="slide-menu child3">
                            <li class="slide">
                                <a href="javascript:void(0);"
                                   class="side-menu__item">Level-2-2-1</a>
                            </li>
                            <li class="slide">
                                <a href="javascript:void(0);"
                                   class="side-menu__item">Level-2-2-2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <!-- End::slide -->
    <!-- Start::slide -->
    <li class="slide has-sub">
        <a href="javascript:void(0);" class="side-menu__item">
            <i class="bx bx-list-ol side-menu__icon"></i>
            <span class="side-menu__label">MIS Inventory</span>
            <i class="fe fe-chevron-down side-menu__angle"></i>
        </a>
        <ul class="slide-menu child1">
            <li class="slide side-menu__label1">
                <a href="javascript:void(0)">MIS Inventory</a>
            </li>
            <li class="slide">
                <a href="javascript:void(0);" class="side-menu__item">Level-1</a>
            </li>
            <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item">
                    Level-2
                    <i class="fe fe-chevron-down side-menu__angle"></i>
                </a>
                <ul class="slide-menu child2">
                    <li class="slide">
                        <a href="javascript:void(0);" class="side-menu__item">Level-2-1</a>
                    </li>
                    <li class="slide has-sub">
                        <a href="javascript:void(0);" class="side-menu__item">
                            Level-2-2
                            <i class="fe fe-chevron-down side-menu__angle"></i>
                        </a>
                        <ul class="slide-menu child3">
                            <li class="slide">
                                <a href="javascript:void(0);"
                                   class="side-menu__item">Level-2-2-1</a>
                            </li>
                            <li class="slide">
                                <a href="javascript:void(0);"
                                   class="side-menu__item">Level-2-2-2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <!-- End::slide -->
    <!-- Start::slide__category -->
    <li class="slide__category"><span class="category-name">Monitoring</span></li>
    <!-- End::slide__category -->
    <!-- Start::slide -->
    <li class="slide has-sub">
        <a href="javascript:void(0);" class="side-menu__item">
            <i class="bx bx-folder-minus side-menu__icon"></i>
            <span class="side-menu__label">Network</span>
            <i class="fe fe-chevron-down side-menu__angle"></i>
        </a>
        <ul class="slide-menu child1">
            <li class="slide side-menu__label1">
                <a href="javascript:void(0)">Network</a>
            </li>
            <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item">
                    Form Elements
                    <i class="fe fe-chevron-down side-menu__angle"></i>
                </a>
                <ul class="slide-menu child2">
                    <li class="slide">
                        <a href="form_inputs.html" class="side-menu__item">Inputs</a>
                    </li>
                    <li class="slide">
                        <a href="form_check_radios.html" class="side-menu__item">Checks & Radios</a>
                    </li>
                    <li class="slide">
                        <a href="form_input_group.html" class="side-menu__item">Input Group</a>
                    </li>
                    <li class="slide">
                        <a href="form_select.html" class="side-menu__item">Form Select</a>
                    </li>
                    <li class="slide">
                        <a href="form_range.html" class="side-menu__item">Range Slider</a>
                    </li>
                    <li class="slide">
                        <a href="form_input_masks.html" class="side-menu__item">Input Masks</a>
                    </li>
                    <li class="slide">
                        <a href="form_file_uploads.html" class="side-menu__item">File Uploads</a>
                    </li>
                    <li class="slide">
                        <a href="form_dateTime_pickers.html" class="side-menu__item">
                            Date,Time
                            Picker
                        </a>
                    </li>
                    <li class="slide">
                        <a href="form_color_pickers.html" class="side-menu__item">Color Pickers</a>
                    </li>
                </ul>
            </li>
            <li class="slide">
                <a href="floating_labels.html" class="side-menu__item">Floating Labels</a>
            </li>
            <li class="slide">
                <a href="form_layout.html" class="side-menu__item">Form Layouts</a>
            </li>
            <li class="slide has-sub">
                <a href="javascript:void(0);" class="side-menu__item">
                    Form Editors
                    <i class="fe fe-chevron-down side-menu__angle"></i>
                </a>
                <ul class="slide-menu child2">
                    <li class="slide">
                        <a href="quill_editor.html" class="side-menu__item">Quill Editor</a>
                    </li>
                </ul>
            </li>
            <li class="slide">
                <a href="form_validation.html" class="side-menu__item">Validation</a>
            </li>
            <li class="slide">
                <a href="form_select2.html" class="side-menu__item">Select2</a>
            </li>
        </ul>
    </li>
    <!-- End::slide -->
    <!-- Start::slide -->
    <li class="slide has-sub">
        <a href="javascript:void(0);" class="side-menu__item">
            <i class="bx bx-layout side-menu__icon"></i>
            <span class="side-menu__label">System</span>
            <i class="fe fe-chevron-down side-menu__angle"></i>
        </a>
        <ul class="slide-menu child1">
            <li class="slide side-menu__label1">
                <a href="javascript:void(0)">System</a>
            </li>
            <li class="slide">
                <a href="tables.html" class="side-menu__item">Tables</a>
            </li>
            <li class="slide">
                <a href="grid-tables.html" class="side-menu__item">Grid JS Tables</a>
            </li>
            <li class="slide">
                <a href="data-tables.html" class="side-menu__item">Data Tables</a>

            </li>
        </ul>
    </li>
    <!-- End::slide -->
    <!-- Start::slide -->
    <li class="slide">
        <a href="widgets.html" class="side-menu__item">
            <i class='bx bx-category  side-menu__icon'></i>
            <span class="side-menu__label">Software</span>
        </a>
    </li>
    <!-- End::slide -->
    <!-- Start::slide__category -->
    <li class="slide__category"><span class="category-name">Utilities</span></li>
    <!-- End::slide__category -->
    <!-- Start::slide -->
    <li class="slide has-sub">
        <a href="javascript:void(0);" class="side-menu__item">
            <i class="bx bx-error side-menu__icon"></i>
            <span class="side-menu__label">Authentication</span>
            <i class="fe fe-chevron-down side-menu__angle"></i>
        </a>
        <ul class="slide-menu child1">
            <li class="slide side-menu__label1">
                <a href="javascript:void(0)">Authentication</a>
            </li>
            <li class="slide">
                <a href="signin.html" class="side-menu__item">Signin</a>
            </li>
            <li class="slide">
                <a href="signup.html" class="side-menu__item">Signup</a>
            </li>
            <li class="slide">
                <a href="forgot.html" class="side-menu__item">Forgot Password</a>
            </li>
            <li class="slide">
                <a href="reset.html" class="side-menu__item">Reset Password</a>
            </li>
            <li class="slide">
                <a href="lockscreen.html" class="side-menu__item">Lockscreen</a>
            </li>
            <li class="slide">
                <a href="underconstruction.html" class="side-menu__item">Underconstruction</a>
            </li>
            <li class="slide">
                <a href="404.html" class="side-menu__item">404 Error</a>
            </li>
            <li class="slide">
                <a href="500.html" class="side-menu__item">500 Error</a>
            </li>
        </ul>
    </li>
    <!-- End::slide -->

</ul>