@model ProdLineVM;

@{
    ViewData["Title"] = "Production Line";
}
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <div class="">
        <div class="">
            <nav>
                <ol class="breadcrumb mb-1 mb-md-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Production Line</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Production</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-md-12">
        <div class="card custom-card mg-b-20">
            <div class="card-header">
                <div class="card-title">Treeview</div>
            </div>
            <div class="card-body">
                <div class="card-content">
                    <div class="row">
                        <!-- col -->
                        <div class="col-lg-4">
                            <div id="tree" class="text-base font-semibold text-gray-600 dark:text-white/70"></div>
                        </div>
                        <!-- /col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


