@model Bolo.Domain.Entities.ErpUser;
@{
    ViewData["Title"] = "Login";
}

<section>
    <form id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-area="Account" asp-controller="Auth" asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="col-xxl-7 col-xl-7 col-lg-12">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-7 col-sm-8 col-12">

                    <p class="h5 fw-semibold mb-2">Sign In</p>
                    <p class="mb-3 text-muted op-7 fw-normal">Welcome back!</p>

                    <div class="row gy-3">
                        <div class="col-xl-12 mt-0">
                            <label asp-for="EmployeeID"  for="signin-username" class="form-label text-default">User Name</label>
                            <input asp-for="EmployeeID" type="text" class="form-control form-control-lg" id="signin-username" placeholder="user name (employee id)">
                            <span asp-validation-for="EmployeeID" class="text-danger"></span>
                        </div>
                        <div class="col-xl-12 mb-3">
                            <label asp-for="Password" for=" signin-password" class="form-label text-default d-block">Password<a href="forgot.html" class="float-end text-danger">Forget password ?</a></label>
                            <div class="input-group">
                                <input asp-for="Password" type="password" class="form-control form-control-lg" id="signin-password" placeholder="password">
                                <button class="btn btn-light" type="button" onclick="createpassword('signin-password',this)" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></button>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="mt-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                        Remember password ?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 d-grid mt-2">
                            <button id="login-submit" type="submit" class="btn btn-lg btn-primary">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

